In [1]:
import os, shutil, json
import numpy as np
import pandas as pd
from PIL import Image
from pathlib import Path
from sklearn.model_selection import train_test_split
from keras.preprocessing.image import ImageDataGenerator

abs_path = r'%s' % os.getcwd().replace('\\','/')

Using TensorFlow backend.
C:\Users\Pichau\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Pichau\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Pichau\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Pichau\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Pichau\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Pichau\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

# An√°lise dos dados

In [2]:
images_folder = os.path.join(abs_path,'1_Mckinsey666').replace('\\','/')
images_DataFrame = pd.DataFrame(columns=['path','width','height','size'])

In [3]:
tamanho_imagens = []
for arq in os.listdir(images_folder):
    try:
        image_path = os.path.join('1_Mckinsey666',arq).replace('\\','/')
        image = Image.open(image_path)
        width, height = image.size
        tamanho = str(width) + " " + str(height)
        imagem_df = pd.DataFrame({'path': [arq], 'width': [width], 'height': [height], 'size':[tamanho] })
        images_DataFrame = pd.concat([images_DataFrame, imagem_df])
        if tamanho not in tamanho_imagens:
            tamanho_imagens.append(tamanho)
    except:
        continue
tamanho_imagens.sort()
images_DataFrame = images_DataFrame.reset_index(drop=True)

In [4]:
print(len(tamanho_imagens))
tamanho_imagens

181

['100 100',
 '101 101',
 '102 101',
 '102 102',
 '103 103',
 '104 104',
 '105 105',
 '106 106',
 '107 107',
 '108 108',
 '109 109',
 '110 110',
 '111 111',
 '112 112',
 '113 112',
 '113 113',
 '114 114',
 '115 115',
 '116 116',
 '117 117',
 '118 118',
 '119 119',
 '120 120',
 '121 121',
 '122 122',
 '123 123',
 '124 123',
 '124 124',
 '125 125',
 '126 126',
 '127 126',
 '127 127',
 '128 128',
 '129 129',
 '130 130',
 '131 130',
 '131 131',
 '132 132',
 '133 132',
 '133 133',
 '134 134',
 '135 135',
 '136 136',
 '137 137',
 '138 138',
 '139 139',
 '140 140',
 '141 141',
 '142 142',
 '143 143',
 '144 144',
 '145 145',
 '146 146',
 '147 147',
 '148 148',
 '149 149',
 '150 150',
 '151 151',
 '152 152',
 '153 153',
 '154 154',
 '155 155',
 '156 156',
 '157 157',
 '158 158',
 '159 159',
 '160 160',
 '161 161',
 '162 162',
 '163 163',
 '164 164',
 '165 165',
 '166 166',
 '167 167',
 '168 168',
 '169 169',
 '170 170',
 '171 171',
 '172 172',
 '174 174',
 '175 175',
 '176 176',
 '178 178',
 '179 179',
 '180 180',
 '181 181',
 '182 182',
 '184 184',
 '185 185',
 '186 185',
 '186 186',
 '188 188',
 '189 189',
 '190 190',
 '193 193',
 '200 200',
 '201 201',
 '207 207',
 '212 212',
 '220 220',
 '25 25',
 '26 26',
 '27 27',
 '28 28',
 '29 29',
 '30 30',
 '31 31',
 '32 32',
 '33 33',
 '34 34',
 '35 35',
 '36 36',
 '37 37',
 '38 38',
 '39 39',
 '40 40',
 '41 41',
 '42 42',
 '43 43',
 '44 44',
 '45 45',
 '46 46',
 '47 47',
 '48 48',
 '49 49',
 '50 50',
 '51 51',
 '52 51',
 '52 52',
 '53 53',
 '54 54',
 '55 55',
 '56 56',
 '57 57',
 '58 58',
 '59 59',
 '60 60',
 '61 61',
 '62 62',
 '63 63',
 '64 63',
 '64 64',
 '65 65',
 '66 66',
 '67 67',
 '68 68',
 '69 69',
 '70 70',
 '71 71',
 '72 72',
 '73 73',
 '74 74',
 '75 75',
 '76 76',
 '77 77',
 '78 78',
 '79 79',
 '80 80',
 '81 81',
 '82 82',
 '83 83',
 '84 84',
 '85 84',
 '85 85',
 '86 86',
 '87 87',
 '88 87',
 '88 88',
 '89 89',
 '90 90',
 '91 91',
 '92 92',
 '93 92',
 '93 93',
 '94 94',
 '95 95',
 '96 96',
 '97 96',
 '97 97',
 '98 98',
 '99 99']

In [5]:
images_DataFrame

                 path width height   size
0          0_2000.jpg    63     63  63 63
1      10000_2004.jpg    62     62  62 62
2      10001_2004.jpg    79     79  79 79
3      10002_2004.jpg    51     51  51 51
4      10003_2004.jpg    77     77  77 77
...               ...   ...    ...    ...
63564   9998_2004.jpg    41     41  41 41
63565   9999_2004.jpg    66     66  66 66
63566    999_2000.jpg    72     72  72 72
63567     99_2000.jpg    65     65  65 65
63568      9_2000.jpg    60     60  60 60

[63569 rows x 4 columns]

In [6]:
images_DataFrame.to_csv("1_imagens_Mckinsey666.csv", sep=',', index = False, encoding='utf-8')